<header class="header">
  <div class="header__container">
    <div class="header__icons">
      <button type="button" class="header__icons__burguer">
        <i class="dl-icon dli-hamburger-regular dl-icon-md">
        </i>
      </button>
      <button type="button" class="header__icons__logo">
        <img class="header__icons__logo__image" src="https://d1zqx73dd3wmq7.cloudfront.net/store_front/statics/svgs/logos_main_header.svg" alt="Logo Insuma">
      </button>
    </div>
    <div class="search-group header__search-container ">
      <div role="button" tabindex="0" class="search-group__container">
        <i class="dl-icon dli-magnifying-glass-regular dl-icon-md search-group__container__search_icon">
        </i>
        <div class="dl-form-control-container dl-form-control-container-md">
          <div class="dl-input-icon-right">
            <input type="text" class="dl-form-control dl-form-control-md search-group__container__input" placeholder="" value="">
            <div class="dl-icon-container">
              <i class="dl-icon dl-icon-md" role=""></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__cart">
      <div role="button" tabindex="0" class="header__cart__block"><button type="button" class="header__cart__block__badge">
        <div class="header__cart__block__badge__counter">16</div>
        <i class="dl-icon dli-shopping-cart-regular dl-icon-md"></i>
      </button>
    </div>
  </div>
</div>
</header>
