<div class="footer">
  <div class="footer__container">
    <div class="footer__column">
      <img class="footer__logo" src="https://d1zqx73dd3wmq7.cloudfront.net/store_front/statics/svgs/logos_footer.svg" alt="Logo Insuma">
      <div class="footer__socials">
        <a href="https://www.facebook.com/InsumaPeru/" target="blank"><img class="footer__icon" src="https://d1zqx73dd3wmq7.cloudfront.net/store_front/statics/svgs/icon_facebook.svg" alt="Facebook Insuma"></a>
        <a href="https://www.instagram.com/insumaperu/" target="blank"><img class="footer__icon" src="https://d1zqx73dd3wmq7.cloudfront.net/store_front/statics/svgs/icon_instagram.svg" alt="Instagram Insuma"></a>
        <a href="https://www.youtube.com/@insuma4852/featured" target="blank"><img class="footer__icon" src="https://d1zqx73dd3wmq7.cloudfront.net/store_front/statics/svgs/icon_youtube.svg" alt="Youtube Insuma"></a>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__link"><a class="" href="/MiPerfil">Mi perfil</a></div>
      <div class="footer__link"><a class="" href="/supplying/my-orders">Mis pedidos</a></div>
      <div class="footer__link"><a class="" href="/pagina/Recomendaciones-Insuma-para-el-verano-2024">Recomendaciones Insuma para el verano 2024</a></div>
      <div class="footer__link"><a class="" href="/pagina/Especializate">Especialízate</a></div>
      <div class="footer__link"><a class="" href="/pagina/Preguntas-Frecuentes">Preguntas Frecuentes</a></div>
      <div class="footer__link"><a class="" href="/pagina/Terminosycondiciones">Términos y condiciones</a></div>
      <div class="footer__link"><a class="" href="/pagina/Politicadeprivacidad">Política de privacidad</a></div>
    </div>
    <div class="footer__column">
      <div class="footer__link"><a href="https://api.whatsapp.com/send?phone=+51945537324&amp;text=Hola,%20tengo unas dudas y consultas. ¿Podrías ayudarme? 🙂" target="_blank" rel="noopener noreferrer">Atención al cliente</a></div>
      <div class="footer__link"><a href="https://crecemosjuntos.com.pe/asesoria-tecnica/" target="_blank" rel="noopener noreferrer">Asesoría técnica</a></div>
      <div class="footer__link"><a href="https://crecemosjuntos.com.pe/" target="_blank" rel="noopener noreferrer">Capacitaciones</a></div>
    </div>
    <div class="footer__column">
      <div class="footer__text-block">
        <span>Dudas o consultas comuníquese al <span class="ftext--mild">945537324</span> o envíenos un correo a <span class="ftext--mild">servicioalcliente@insuma.com.pe</span></span></div>
    </div>
  </div>
  <div class="footer__divider"></div>
  <div class="footer__end">
    <span>Copyright © 2023 | Todos los derechos reservados</span>
  </div>

</div>
