<div class="main-container product-detail">
  <main class="main-container__main">
    <section class="main-container__main__section">
      <div>
        <div class="product-detail__content">
          <div class="product-detail-image">
            <button class="dl-link dl-link-default dl-link-icon-left product-detail-image__nav-back">
              <i class="dl-icon dli-caret-left-regular dl-icon-sm"></i>
              Atrás
            </button>
            <picture class="product-detail-image__img-container">
              <img class="" src="https://d3h35gq4rbatu1.cloudfront.net/odoo_integracion/20210412171841.jpg?v=1706744902227" alt="product">
            </picture>
          </div>
          <div class="product-detail-info">
            <h1 class="dl-heading-lg product-detail-info__title">Harina Nicolini Premium</h1>
            <p class="dl-text dl-text-paragraph product-detail-info__presentation">
              <i class="dl-icon dli-box-milk-regular dl-icon-md footer__icon"></i>
              <span class="product-detail-info__presentation__text"> Saco 50kg</span>
            </p>
            <p class="dl-text dl-text-paragraph product-detail-info__sku">SKU: 20210412171841 </p>
            <div class="product-detail-info__action-container">
              <div class="product-detail-info__price">
                <div class="product-detail-info__pricefalse">S/ 161.24</div>
              </div>
            </div>
            <h2 class="dl-subheading-lg product-detail-info__subtitle">Descripción</h2>
            <div class="product-detail-info__description">
              <p>
                <br>
              </p>
            </div>
            <div>

            </div>
            <div class="product-detail-info__apudex">
              <i class="dl-icon dli-truck-bold dl-icon-md"></i>
              <p class="product-detail-info__apudex-text">Vendido por la distribuidora Apudex S.A.C RUC 20602893350</p>
            </div>
          </div>
        </div>
        <div class="product-detail-footer">
          <div class="product-detail-footer__price">
            <div class="product-detail-footer__price">S/ 161.24</div>
          </div><div class="product-detail-footer__action">
            <div class="sc-BeQoi dCXKQs">
              <button class="dl-btn dl-btn-primary dl-btn-xs dl-btn-with-icon-left sc-gSAPjG jwFMyO" data-testid="single-button" type="button">
                <span class="dl-btn-content-text">
                  <i class="dl-icon dli-plus-regular dl-icon-sm"></i>Agregar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
